.appCanvas {
    font-family: sans-serif;
    text-align: center;
  }
  .container,
  #interactive.viewport {
    width: 400px;
    height: 100px;
  }
  
  #interactive.viewport canvas,
  video {
    width: 100%;
      
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    width: 100%;
  }
  h1{
    margin-top: 10px;
    background-color: #fff;
    z-index: 9;
    position: relative;
  }
  